.Movement {
  .Modal {
    .content {
      width: auto;
      height: auto;
      max-height: 90%;
      max-width: 90%;
    }
  }
  .frame {
    max-height: 100%;
    max-width: 100%;
  }
  .player {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    left: 5%;
    height: 75%;
    width: 55%;
  }
  .author {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 25%;
  }
}
