.Art {
  .Modal {
    .content {
      width: auto;
      height: auto;
      max-height: 90%;
      max-width: 90%;
    }
  }
  .frame {
    max-height: 100%;
    max-width: 100%;

    @media only screen and (min-width: 1440px) {
      max-width: 1200px;
    }
  }
  .photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    height: 80%;
    width: 55%;
    overflow-y: auto;
  }
  .description {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 25%;
    height: 80%;
    overflow-y: auto;
    line-height: 1.5;
    font-family: monospace;
    text-align: left;
  }
  .document {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;

    canvas {
      margin: auto;
    }
  }
}
