.Home {
  width: 60vw;
  max-width: 1110px;
  height: calc(4191 / 6000 * 60vw);
  max-height: calc(4191 / 6000 * 1110px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
  background-image: url("../../assets/menu/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  img {
    width: 100%;
    height: auto;
  }

  .background {
    grid-column: 1 / 13;
    grid-row: 1 / 13;
  }

  .room-selected {
    grid-column: 1 / 13;
    grid-row: 1 / 13;
    opacity: 0;
    transition: transform, opacity 0.5s linear;
  }

  #art {
    grid-column: 6 / 8;
    grid-row: 6 / 9;
    z-index: 2;
  }
  #locker {
    grid-column: 9 / 11;
    grid-row: 5 / 7;
    z-index: 2;
  }
  #lounge {
    grid-column: 3 / 6;
    grid-row: 6 / 11;
    z-index: 1;
  }
  #movement {
    grid-column: 4 / 6;
    grid-row: 4 / 8;
    z-index: 2;
  }
  #smoothie {
    grid-column: 9 / 12;
    grid-row: 10 / 12;
    z-index: 3;
  }
  #sound {
    grid-column: 8 / 10;
    grid-row: 8 / 11;
    z-index: 2;
  }
  #spa {
    grid-column: 9 / 12;
    grid-row: 7 / 10;
    z-index: 1;
  }
  #theatre {
    grid-column: 6 / 10;
    grid-row: 3 / 6;
    z-index: 1;
  }
  #write {
    grid-column: 8 / 9;
    grid-row: 6 / 9;
    z-index: 2;
  }
  #yoga {
    grid-column: 6 / 8;
    grid-row: 9 / 11;
    z-index: 1;
  }

  .selector:hover ~ .room-selected {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 3vh;
  display: flex;
  width: auto;

  img {
    height: 100%;
    width: auto;
    margin-left: 50px;
  }

  .goethe {
    transform: scale(1.5);
  }
}

.title {
  margin-top: 50px;
  margin-bottom: -50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2.6px 4.5px 0px #000000, 2px 0 0 #000000, -2px 0 0 #000000,
    0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000,
    1px -1px 0 #000000, -1px 1px 0 #000000;

  @media only screen and (max-width: 800px) {
    font-size: 20px;
    text-shadow: 1.6px 2.5px 0px #000000, 2px 0 0 #000000, -2px 0 0 #000000,
      0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000,
      1px -1px 0 #000000, -1px 1px 0 #000000;
  }
  @media only screen and (max-width: 300px) {
    font-size: 10px;
    text-shadow: 0.6px 1.5px 0px #000000, 2px 0 0 #000000, -2px 0 0 #000000,
      0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000,
      1px -1px 0 #000000, -1px 1px 0 #000000;
  }
}

.note {
  font-weight: bold;
  @media only screen and (max-width: 300px) {
    font-size: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .Home {
    width: 100vw;
    height: calc(4191 / 6000 * 100vw);
  }

  .logo {
    right: 0;
  }

  .title {
    // margin-top: 0;
    margin-bottom: 30px;
  }
}
