.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: "Cucho";
  overflow-x: hidden;
  cursor: url("./assets/mouse.png"), auto;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language {
  cursor: pointer;
}

.route-wrapper {
  position: relative;
  & > div {
    position: absolute;
  }
}

.room {
  // overflow: hidden;
  width: 100vw;
  max-width: 1110px;
  height: 100vh;

  .row {
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 5%;

    .item {
      width: 100%;
      height: auto;
      transition: transform 0.2s;
      padding-bottom: 25%;
      &:hover {
        transform: scale(1.5);
      }
    }
    .person {
      width: 50%;
    }
  }
}

.back-button {
  position: absolute;
  top: 5vw;
  left: 5vw;
  transition: transform 0.2s;

  img {
    height: auto;
    width: 10vw;
  }

  &:hover {
    transform: scale(1.5);
  }
}

@font-face {
  font-family: "Cucho";
  src: local("Cucho"), url("./fonts/Cucho.otf") format("truetype");
}

@font-face {
  font-family: "Cucho";
  src: local("Cucho"), url("./fonts/Cucho Bold.otf") format("truetype");
  font-weight: bold;
}
