.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: "Cucho";
  overflow-x: hidden;
  cursor: url("./assets/mouse.png"), auto;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 15px;
  cursor: url("./assets/mouse.png"), auto;

  &.en {
    background-color: #24bded;
  }

  &.vn {
    background-color: #ffd800;
  }
}

.route-wrapper {
  position: relative;
  & > div {
    position: absolute;
  }
}

.room {
  // overflow: hidden;
  width: 100vw;
  max-width: 1110px;
  height: 100vh;

  .row {
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 5%;

    .item {
      width: 100%;
      height: auto;
      transition: transform 0.2s;
      padding-bottom: 25%;
      &:hover {
        transform: scale(1.5);
      }
    }
    .person {
      width: 50%;
    }
  }
}

.back-button {
  position: absolute;
  top: 5vw;
  left: 5vw;
  transition: transform 0.2s;

  img {
    height: auto;
    width: 10vw;
  }

  &:hover {
    transform: scale(1.5);
  }
}

.Modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;

  &.hide {
    display: none;
  }

  .content {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: calc(9 / 16 * 50vw);
    animation: unfoldIn 0.3s forwards;

    @media only screen and (max-width: 720px) {
      width: 100%;
      height: calc(9 / 16 * 100vw);
    }

    @keyframes unfoldIn {
      0% {
        transform: scaleX(0.005) scaleY(0);
      }
      50% {
        transform: scaleX(0.005) scaleY(1);
      }
      100% {
        transform: scaleY(1) scaleX(1);
      }
    }

    @keyframes slideLeft {
      0% {
        left: -50%;
      }
      100% {
        left: 50%;
      }
    }

    @keyframes slideRight {
      0% {
        left: -50%;
      }
      100% {
        left: 50%;
      }
    }
  }
}

@font-face {
  font-family: "Cucho";
  src: local("Cucho"), url("./fonts/Cucho.otf") format("truetype");
}

@font-face {
  font-family: "Cucho";
  src: local("Cucho"), url("./fonts/Cucho Bold.otf") format("truetype");
  font-weight: bold;
}
