.Yoga {
  .item {
    width: 100%;
  }
  .Modal {
    .content {
      width: auto;
      height: auto;
      max-height: 90%;
      max-width: 90%;
    }
  }
  .frame {
    max-height: 100%;
    max-width: 100%;

    @media only screen and (min-width: 1440px) {
      max-width: 1200px;
    }
  }
  .player {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    height: 60%;
    width: 55%;
  }
  .author {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 25%;
  }
}
